- var tit = 'Garage'
- var desc = 'This Website For Garage'

doctype html
html(lang="en")
    include component/head
    body
        // Start Navbar
        include component/nav

        // Start Header
        header
            .overlay
            .container
                article
                    h1 get your<br>dream <span>car</span> now
                    p enjoy in <span>our</span> garage, sorry your garage
                    a.play-vid.venobox(href='https://www.youtube.com/watch?v=Q8-AE6RjbcM' data-vbtype="video" data-autoplay="true")
                        i(class='fas fa-play')
                    button.about about the garage
        
        // Start Our Clients
        section.our-clients.container
            h2.main-h our clients
            p Here are some of our clients
            .row
                .col-md-4.col-6
                    article
                        img.img-fluid(src='images/client-1.jpg' alt='Client 01')
                        .box
                            h3 devid fancosh
                            p client in garage
                            .icons
                                i.fab.fa-facebook
                                i.fab.fa-twitter
                                i.fab.fa-google-plus
                                i.fab.fa-instagram
                                
                .col-md-4.col-6
                    article
                        img.img-fluid(src='images/client-2.jpg' alt='Client 02')
                        .box
                            h3 devid fancosh
                            p client in garage
                            .icons
                                i.fab.fa-facebook
                                i.fab.fa-twitter
                                i.fab.fa-google-plus
                                i.fab.fa-instagram
        
                .col-md-4.col-6
                    article
                        img.img-fluid(src='images/client-3.jpg' alt='Client 03')
                        .box
                            h3 devid fancosh
                            p client in garage
                            .icons
                                i.fab.fa-facebook
                                i.fab.fa-twitter
                                i.fab.fa-google-plus
                                i.fab.fa-instagram
                
                .col-md-4.col-6
                    article
                        img.img-fluid(src='images/client-4.jpg' alt='Client 04')
                        .box
                            h3 devid fancosh
                            p client in garage
                            .icons
                                i.fab.fa-facebook
                                i.fab.fa-twitter
                                i.fab.fa-google-plus
                                i.fab.fa-instagram
        
                .col-md-4.col-6
                    article
                        img.img-fluid(src='images/client-5.jpg' alt='Client 05')
                        .box
                            h3 devid fancosh
                            p client in garage
                            .icons
                                i.fab.fa-facebook
                                i.fab.fa-twitter
                                i.fab.fa-google-plus
                                i.fab.fa-instagram
                
                .col-md-4.col-6
                    article
                        img.img-fluid(src='images/client-6.jpg' alt='Client 06')
                        .box
                            h3 devid fancosh
                            p client in garage
                            .icons
                                i.fab.fa-facebook
                                i.fab.fa-twitter
                                i.fab.fa-google-plus
                                i.fab.fa-instagram        
        
        // Start About Garage
        section.about-garage
            .overlay
            .container
                .row.justify-content-center
                    .col-lg-6.col-sm-8
                        h3.text-center.text-lg-start about the garage
                        p.text-center.text-lg-start Sed nam ut dolor qui repellendus iusto odit. Possimus inventore eveniet accusamus error amet eius aut accusantium et. Non odit consequatur repudiandae sequi ea odio molestiae. Enim possimus sunt inventore in est ut optio sequi unde.


                    .col-lg-3.col-sm-6
                        h3.text-center.text-lg-start where
                        p.text-center.text-lg-start Egypt, kafr-elsheikh, eleslah

                    .col-lg-3.col-sm-6
                        h3.text-center.text-lg-start information
                        p.text-center.text-lg-start Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nihil nostrum ducimus saepe.
        
        // Start Testimonials
        .testimonials
            .container
                h2.main-h testimonials
                p what our clients say

                .buttons
                    button.btn.active(data-show='#stuff-1') stuff 1
                    button.btn(data-show='#stuff-2') stuff 2
                    button.btn(data-show='#stuff-3') stuff 3

                p.italic Voluptatem nulla veniam soluta et corrupti consequatur neque eveniet officia. Eius necessitatibus voluptatem quis labore perspiciatis quia.
        
                .stuffs
                    #stuff-1.stuff
                        .item
                            .time 09:30 AM
                            .info
                                img(src='images/client-1.jpg' alt='Client 1')
                                h5 Registration
                                p Fugit voluptas iusto maiores temporibus autem numquam magnam.

                        .item
                            .time 10:30 AM
                            .info
                                img(src='images/client-2.jpg' alt='Client 2')
                                h5 Keynote
                                    span Brenden Legros
                                p Facere provident incidunt quos voluptas.

                        .item
                            .time 11:30 AM
                            .info
                                img(src='images/client-3.jpg' alt='Client 3')
                                h5 Et voluptatem iusto dicta nobis.
                                    span Hubert Hirthe
                                p FMaiores dignissimos neque qui cum accusantium ut sit sint inventore.

                        .item
                            .time 12:30 AM
                            .info
                                img(src='images/client-4.jpg' alt='Client 4')
                                h5 Quo qui praesentium nesciunt
                                    span Willow Trantow
                                p Voluptatem et alias dolorum est aut sit enim neque veritatis.

                        .item
                            .time 01:30 AM
                            .info
                                img(src='images/client-5.jpg' alt='Client 5')
                                h5 Explicabo et rerum quis et ut ea.
                                    span Brenden Legros
                                p Cole Emmerich

                        .item
                            .time 02:30 AM
                            .info
                                img(src='images/client-6.jpg' alt='Client 6')
                                h5 Qui non qui vel amet culpa sequi.
                                    span Jack Christiansen
                                p Nam ex distinctio voluptatem doloremque suscipit iusto.

                    #stuff-2.stuff
                        .item
                            .time 10:30 AM
                            .info
                                img(src='images/client-2.jpg' alt='Client 2')
                                h5 Keynote
                                    span Brenden Legros
                                p Facere provident incidunt quos voluptas.

                        .item
                            .time 11:30 AM
                            .info
                                img(src='images/client-3.jpg' alt='Client 3')
                                h5 Et voluptatem iusto dicta nobis.
                                    span Hubert Hirthe
                                p FMaiores dignissimos neque qui cum accusantium ut sit sint inventore.

                        .item
                            .time 01:30 AM
                            .info
                                img(src='images/client-1.jpg' alt='Client 1')
                                h5 Registration
                                p Fugit voluptas iusto maiores temporibus autem numquam magnam.

                        .item
                            .time 02:30 AM
                            .info
                                img(src='images/client-4.jpg' alt='Client 4')
                                h5 Quo qui praesentium nesciunt
                                    span Willow Trantow
                                p Voluptatem et alias dolorum est aut sit enim neque veritatis.

                        .item
                            .time 03:30 AM
                            .info
                                img(src='images/client-6.jpg' alt='Client 6')
                                h5 Qui non qui vel amet culpa sequi.
                                    span Jack Christiansen
                                p Nam ex distinctio voluptatem doloremque suscipit iusto.

                        .item
                            .time 04:30 AM
                            .info
                                img(src='images/client-5.jpg' alt='Client 5')
                                h5 Explicabo et rerum quis et ut ea.
                                    span Brenden Legros
                                p Cole Emmerich

                    #stuff-3.stuff
                        .item
                            .time 11:30 AM
                            .info
                                img(src='images/client-3.jpg' alt='Client 3')
                                h5 Et voluptatem iusto dicta nobis.
                                    span Hubert Hirthe
                                p FMaiores dignissimos neque qui cum accusantium ut sit sint inventore.

                        .item
                            .time 01:30 AM
                            .info
                                img(src='images/client-1.jpg' alt='Client 1')
                                h5 Registration
                                p Fugit voluptas iusto maiores temporibus autem numquam magnam.

                        .item
                            .time 02:30 AM
                            .info
                                img(src='images/client-4.jpg' alt='Client 4')
                                h5 Quo qui praesentium nesciunt
                                    span Willow Trantow
                                p Voluptatem et alias dolorum est aut sit enim neque veritatis.

                        .item
                            .time 04:30 AM
                            .info
                                img(src='images/client-5.jpg' alt='Client 5')
                                h5 Explicabo et rerum quis et ut ea.
                                    span Brenden Legros
                                p Cole Emmerich

        // Start Our Products
        section.our-products
            h2.main-h our products
            p Here are some of our products
            .container-fluid
                .row
                    .col-md-6.col-12
                        iframe(
                            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6911.474978552353!2d31.184405499999997!3d29.986973399999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1617447943717!5m2!1sar!2seg"
                            style="border:0;" allowfullscreen="" loading="lazy"
                        )
                
                    .col-md-6.col-12
                        article
                            .overlay
                            div
                                h3.h1 downtown, egypt,<br> cairo
                                p Iste nobis eum sapiente sunt enim dolores labore accusantium autem. Cumque beatae ipsam. Est quae sit qui voluptatem corporis velit. Qui maxime accusamus possimus. Consequatur sequi et ea suscipit enim nesciunt quia velit.

                .row.my-row
                    - for (i=2;i < 10;i++)
                        .image
                            a.venobox(href=`images/product-${i}.jpg` data-gall="Products Gallery")
                                img.img-fluid(src=`images/product-${i}.jpg` alt=`Product ${i}`)

        // Start Blogs
        section.blogs
            .container
                h2.main-h blogs
                p Here are some of our blogs

                .row
                    .col-md-4.col-sm-6.col-12.offset-0.offset-sm-3.offset-md-0
                        article
                            img.img-fluid(src='images/blog-1.jpg' alt='Blog Car')
                            h4 Blog 1
                            .stars
                                - for (i=0; i < 5;i++)
                                    i.fas.fa-star
                            p Lorem ipsum dolor sit amet

                    .col-md-4.col-sm-6.col-12
                        article
                            img.img-fluid(src='images/blog-2.jpg' alt='Blog Car')
                            h4 Blog 2
                            .stars
                                - for (i=0; i < 5;i++)
                                    i.fas.fa-star
                            p Lorem ipsum dolor sit amet

                    .col-md-4.col-sm-6.col-12
                        article
                            img.img-fluid(src='images/blog-3.jpg' alt='Blog Car')
                            h4 Blog 3
                            .stars
                                - for (i=0; i < 5;i++)
                                    i.fas.fa-star
                            p Lorem ipsum dolor sit amet

        //Start Gallary
        section.gallary
            h2.main-h gallary
            p Check our gallery from the recent products

            .owl-carousel
                - for (i=1;i < 10;i++)
                    a.venobox(href=`images/product-${i}.jpg` data-gall="Slider Gallery")
                        img(src=`images/product-${i}.jpg` alt=`Product ${i}`)

        // Start Sponsors
        section.sponsors
            .container
                h2.main-h sponsors
                p

                .my-row
                    - for (i=1; i < 9;i++)
                        article
                            img.img-fluid(src=`images/logo-${i}.png` alt=`Logo ${i}`)

        // Start FAQ
        section.faq.container
            h2.main-h F.A.Q
            p

            h6(style='font-size: 100px;color: red') Accordion Soon

        // Start NewCar
        .new-car
            .overlay
            .container 
                h2.main-h newcar
                p Rerum numquam illum recusandae quia mollitia consequatur

                .inputs
                    input(type="email" name='email' placeholder='Type Your Email')
                    button.main-btn subscribe

        // Start Buy Car
        section.buy-car
            .container
                h2.main-h buy car now
                p Velit consequatur consequatur inventore iste fugit unde omnis eum aut.

                .row
                    .col-12.col-md-8.col-lg-4.offset-0.offset-md-2.offset-lg-0
                        article
                            h5 standard access
                            span.price $150
                            ul.list-unstyled
                                li
                                    i.fa.fa-check
                                    | Regular Seating
                                li
                                    i.fa.fa-check
                                    | Coffee Break
                                li
                                    i.fa.fa-check
                                    | Custom Badge
                                li.disabled
                                    i.fa.fa-times
                                    | Community Access
                                li.disabled
                                    i.fa.fa-times
                                    | Workshop Access
                                li.disabled
                                    i.fa.fa-times
                                    | After Party

                            button.main-btn Buy Now

                    .col-12.col-md-6.col-lg-4
                        article
                            h5 pro access
                            span.price $250
                            ul.list-unstyled
                                li
                                    i.fa.fa-check
                                    | Regular Seating
                                li
                                    i.fa.fa-check
                                    | Coffee Break
                                li
                                    i.fa.fa-check
                                    | Custom Badge
                                li
                                    i.fa.fa-check
                                    | Community Access
                                li.disabled
                                    i.fa.fa-times
                                    | Workshop Access
                                li.disabled
                                    i.fa.fa-times
                                    | After Party

                            button.main-btn Buy Now

                    .col-12.col-md-6.col-lg-4
                        article
                            h5 premium access
                            span.price $350
                            ul.list-unstyled
                                li
                                    i.fa.fa-check
                                    | Regular Seating
                                li
                                    i.fa.fa-check
                                    | Coffee Break
                                li
                                    i.fa.fa-check
                                    | Custom Badge
                                li
                                    i.fa.fa-check
                                    | Community Access
                                li
                                    i.fa.fa-check
                                    | Workshop Access
                                li
                                    i.fa.fa-check
                                    | After Party

                            button.main-btn Buy Now

        // Start Contact US
        .contact-us.container
            h2.main-h contact us
            p Nihil officia ut sint molestiae tenetur.

            .row.justify-content-center
                .text-center.col-11.col-md-4
                    h5 address
                    p Egypt, Giza, Al Haram

                .text-center.col-11.col-md-4
                    h5 phone number
                    p +20 1100 985 529

                .text-center.col-11.col-md-4
                    h5 email
                    p yousefalaa11223344@gmail.com

            form
                input(type='text' name='name' placeholder='Your Name')
                input(type='email' name='email' placeholder='Your Email')
                input(type='text' name='subject' placeholder='Subject')
                textarea(name="Message" placeholder='Message')
                button.main-btn send message















        |
        |
        include component/scripts