- var tit = 'Garage'
- var desc = 'This Website For Garage'

include component/mixins

doctype html
html(lang="en")
    include component/head
    body
        // Start Loader
        section.loader
            .sk-cube-grid
                .sk-cube.sk-cube1
                .sk-cube.sk-cube2
                .sk-cube.sk-cube3
                .sk-cube.sk-cube4
                .sk-cube.sk-cube5
                .sk-cube.sk-cube6
                .sk-cube.sk-cube7
                .sk-cube.sk-cube8
                .sk-cube.sk-cube9

        // Start Navbar
        include component/nav

        // Start Header
        header
            .overlay
            .container
                article(data-aos="zoom-in")
                    h1 get your<br>dream <span>car</span> now
                    p enjoy in <span>our</span> garage, sorry your garage
                    a.play-vid.venobox(href='https://www.youtube.com/watch?v=Q8-AE6RjbcM' data-vbtype="video" data-autoplay="true")
                        i.icon-play
                    button.about about the garage
        
        // Start Our Clients
        section#clients.our-clients.container.nav-add-act
            h2.main-h our clients
            p Here are some of our clients
            .row
                +client(1, 0)
                +client(2, 150)
                +client(3, 300)
                +client(4, 0)
                +client(5, 150)
                +client(6, 300)
        
        // Start About Garage
        section#about.about-garage.nav-add-act
            .overlay
            .container
                .row.justify-content-center
                    .col-lg-6.col-sm-8
                        h3.text-center.text-lg-start about the garage
                        p.text-center.text-lg-start Sed nam ut dolor qui repellendus iusto odit. Possimus inventore eveniet accusamus error amet eius aut accusantium et. Non odit consequatur repudiandae sequi ea odio molestiae. Enim possimus sunt inventore in est ut optio sequi unde.


                    .col-lg-3.col-sm-6
                        h3.text-center.text-lg-start where
                        p.text-center.text-lg-start Egypt, kafr-elsheikh, eleslah

                    .col-lg-3.col-sm-6
                        h3.text-center.text-lg-start information
                        p.text-center.text-lg-start Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nihil nostrum ducimus saepe.
        
        // Start Testimonials
        section#testimonials.testimonials.nav-add-act
            .container
                h2.main-h testimonials
                p what our clients say

                .buttons
                    button.btn.active(data-show='#stuff-1') stuff 1
                    button.btn(data-show='#stuff-2') stuff 2
                    button.btn(data-show='#stuff-3') stuff 3

                p.italic Voluptatem nulla veniam soluta et corrupti consequatur neque eveniet officia. Eius necessitatibus voluptatem quis labore perspiciatis quia.
        
                .stuffs
                    #stuff-1.stuff
                        .item
                            .time 09:30 AM
                            .info
                                img(src='images/client-1.jpg' alt='Client 1')
                                h5 Registration
                                p Fugit voluptas iusto maiores temporibus autem numquam magnam.

                        .item
                            .time 10:30 AM
                            .info
                                img(src='images/client-2.jpg' alt='Client 2')
                                h5 Keynote
                                    span Brenden Legros
                                p Facere provident incidunt quos voluptas.

                        .item
                            .time 11:30 AM
                            .info
                                img(src='images/client-3.jpg' alt='Client 3')
                                h5 Et voluptatem iusto dicta nobis.
                                    span Hubert Hirthe
                                p FMaiores dignissimos neque qui cum accusantium ut sit sint inventore.

                        .item
                            .time 12:30 AM
                            .info
                                img(src='images/client-4.jpg' alt='Client 4')
                                h5 Quo qui praesentium nesciunt
                                    span Willow Trantow
                                p Voluptatem et alias dolorum est aut sit enim neque veritatis.

                        .item
                            .time 01:30 AM
                            .info
                                img(src='images/client-5.jpg' alt='Client 5')
                                h5 Explicabo et rerum quis et ut ea.
                                    span Brenden Legros
                                p Cole Emmerich

                        .item
                            .time 02:30 AM
                            .info
                                img(src='images/client-6.jpg' alt='Client 6')
                                h5 Qui non qui vel amet culpa sequi.
                                    span Jack Christiansen
                                p Nam ex distinctio voluptatem doloremque suscipit iusto.

                    #stuff-2.stuff
                        .item
                            .time 10:30 AM
                            .info
                                img(src='images/client-2.jpg' alt='Client 2')
                                h5 Keynote
                                    span Brenden Legros
                                p Facere provident incidunt quos voluptas.

                        .item
                            .time 11:30 AM
                            .info
                                img(src='images/client-3.jpg' alt='Client 3')
                                h5 Et voluptatem iusto dicta nobis.
                                    span Hubert Hirthe
                                p FMaiores dignissimos neque qui cum accusantium ut sit sint inventore.

                        .item
                            .time 01:30 AM
                            .info
                                img(src='images/client-1.jpg' alt='Client 1')
                                h5 Registration
                                p Fugit voluptas iusto maiores temporibus autem numquam magnam.

                        .item
                            .time 02:30 AM
                            .info
                                img(src='images/client-4.jpg' alt='Client 4')
                                h5 Quo qui praesentium nesciunt
                                    span Willow Trantow
                                p Voluptatem et alias dolorum est aut sit enim neque veritatis.

                        .item
                            .time 03:30 AM
                            .info
                                img(src='images/client-6.jpg' alt='Client 6')
                                h5 Qui non qui vel amet culpa sequi.
                                    span Jack Christiansen
                                p Nam ex distinctio voluptatem doloremque suscipit iusto.

                        .item
                            .time 04:30 AM
                            .info
                                img(src='images/client-5.jpg' alt='Client 5')
                                h5 Explicabo et rerum quis et ut ea.
                                    span Brenden Legros
                                p Cole Emmerich

                    #stuff-3.stuff
                        .item
                            .time 11:30 AM
                            .info
                                img(src='images/client-3.jpg' alt='Client 3')
                                h5 Et voluptatem iusto dicta nobis.
                                    span Hubert Hirthe
                                p FMaiores dignissimos neque qui cum accusantium ut sit sint inventore.

                        .item
                            .time 01:30 AM
                            .info
                                img(src='images/client-1.jpg' alt='Client 1')
                                h5 Registration
                                p Fugit voluptas iusto maiores temporibus autem numquam magnam.

                        .item
                            .time 02:30 AM
                            .info
                                img(src='images/client-4.jpg' alt='Client 4')
                                h5 Quo qui praesentium nesciunt
                                    span Willow Trantow
                                p Voluptatem et alias dolorum est aut sit enim neque veritatis.

                        .item
                            .time 04:30 AM
                            .info
                                img(src='images/client-5.jpg' alt='Client 5')
                                h5 Explicabo et rerum quis et ut ea.
                                    span Brenden Legros
                                p Cole Emmerich

        // Start Our Products
        section#products.our-products.nav-add-act
            h2.main-h our products
            p Here are some of our products
            .container-fluid
                .row
                    .col-md-6.col-12
                        iframe(
                            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6911.474978552353!2d31.184405499999997!3d29.986973399999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1617447943717!5m2!1sar!2seg"
                            style="border:0;" allowfullscreen="" loading="lazy" title='Google Map'
                        )
                
                    .col-md-6.col-12
                        article
                            .overlay
                            div
                                h3.h1 downtown, egypt,<br> cairo
                                p Iste nobis eum sapiente sunt enim dolores labore accusantium autem. Cumque beatae ipsam. Est quae sit qui voluptatem corporis velit. Qui maxime accusamus possimus. Consequatur sequi et ea suscipit enim nesciunt quia velit.

                .row.my-row
                    - for (i=2;i < 10;i++)
                        .image
                            a.venobox(href=`images/product-${i}.jpg` data-gall="Products Gallery")
                                img.img-fluid(src=`images/product-${i}.jpg` alt=`Product ${i}`)

        // Start Blogs
        section#blogs.blogs.nav-add-act
            .container
                h2.main-h blogs
                p Here are some of our blogs

                .row
                    .col-md-4.col-sm-6.col-12.offset-0.offset-sm-3.offset-md-0
                        +blog("fade-right", 1)

                    .col-md-4.col-sm-6.col-12
                        +blog("fade-up", 2)

                    .col-md-4.col-sm-6.col-12
                        +blog("fade-left", 3)

        //Start Gallary
        section#gallary.gallary.nav-add-act
            h2.main-h gallary
            p Check our gallery from the recent products

            .owl-carousel
                - for (i=1;i < 10;i++)
                    a.venobox(href=`images/product-${i}.jpg` data-gall="Slider Gallery")
                        img(src=`images/product-${i}.jpg` alt=`Product ${i}`)

        // Start Sponsors
        section.sponsors
            .container
                h2.main-h sponsors
                p

                .my-row
                    - for (i=1; i < 9;i++)
                        article
                            img.img-fluid(src=`images/logo-${i}.png` alt=`Logo ${i}` data-aos="fade-in")

        // Start FAQ
        section.faq.container
            h2.main-h F.A.Q
            p
            .container 
                .accordion
                    .item
                        h3.h5 Non consectetur a erat nam at lectus urna duis?
                            span
                        section Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.

                    .item
                        h3.h5 Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                            span
                        section Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.


                    .item
                        h3.h5 Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
                            span
                        section Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis

                    .item
                        h3.h5 Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                            span
                        section Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.

                    .item
                        h3.h5 Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                            span
                        section Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in

                    .item
                        h3.h5 Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis?
                            span
                        section Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.

        // Start NewCar
        section.new-car
            .overlay
            .container 
                h2.main-h newcar
                p Rerum numquam illum recusandae quia mollitia consequatur

                .inputs(data-aos="fade-up")
                    input(type="email" name='email' placeholder='Type Your Email')
                    button.main-btn subscribe

        // Start Buy Car
        section#pricing.buy-car.nav-add-act
            .container
                h2.main-h buy car now
                p Velit consequatur consequatur inventore iste fugit unde omnis eum aut.

                .row
                    .col-12.col-md-8.col-lg-4.offset-0.offset-md-2.offset-lg-0
                        article(data-aos="fade-up")
                            h5 standard access
                            span.price $150
                            ul.list-unstyled
                                li
                                    i.icon-check-solid
                                    | Regular Seating
                                li
                                    i.icon-check-solid
                                    | Coffee Break
                                li
                                    i.icon-check-solid
                                    | Custom Badge
                                li.disabled
                                    i.icon-xmark-solid
                                    | Community Access
                                li.disabled
                                    i.icon-xmark-solid
                                    | Workshop Access
                                li.disabled
                                    i.icon-xmark-solid
                                    | After Party

                            button.main-btn Buy Now

                    .col-12.col-md-6.col-lg-4
                        article(data-aos="fade-up" data-aos-delay='150')
                            h5 pro access
                            span.price $250
                            ul.list-unstyled
                                li
                                    i.icon-check-solid
                                    | Regular Seating
                                li
                                    i.icon-check-solid
                                    | Coffee Break
                                li
                                    i.icon-check-solid
                                    | Custom Badge
                                li
                                    i.icon-check-solid
                                    | Community Access
                                li.disabled
                                    i.icon-xmark-solid
                                    | Workshop Access
                                li.disabled
                                    i.icon-xmark-solid
                                    | After Party

                            button.main-btn Buy Now

                    .col-12.col-md-6.col-lg-4
                        article(data-aos="fade-up" data-aos-delay='300')
                            h5 premium access
                            span.price $350
                            ul.list-unstyled
                                li
                                    i.icon-check-solid
                                    | Regular Seating
                                li
                                    i.icon-check-solid
                                    | Coffee Break
                                li
                                    i.icon-check-solid
                                    | Custom Badge
                                li
                                    i.icon-check-solid
                                    | Community Access
                                li
                                    i.icon-check-solid
                                    | Workshop Access
                                li
                                    i.icon-check-solid
                                    | After Party

                            button.main-btn Buy Now

        // Start Contact US
        section#contact.contact-us.container.nav-add-act
            h2.main-h contact us
            p Nihil officia ut sint molestiae tenetur.

            .row.justify-content-center
                .text-center.col-11.col-md-4(data-aos="fade-up")
                    h5 address
                    p Egypt, Giza, Al Haram

                .text-center.col-11.col-md-4(data-aos="fade-up")
                    h5 phone number
                    p +20 1100 985 529

                .text-center.col-11.col-md-4(data-aos="fade-up")
                    h5 email
                    p yousefalaa11223344@gmail.com

            form(data-aos="fade-up")
                input(type='text' name='name' placeholder='Your Name')
                input(type='email' name='email' placeholder='Your Email')
                input(type='text' name='subject' placeholder='Subject')
                textarea(name="Message" placeholder='Message')
                button.main-btn send message

        // Start Footer
        include component/footer

        // Start Scroll To Top
        button.btn.top-btn(data-scroll='top' aria-label="Right Align")
            i.icon-arrow-up-solid

        include component/scripts